.start-test-page {
    width: 100vw;
    height: 100vh;
    background-color: var(--base-light);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.start-test-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 40%;
    margin-top: 10%;
}
.start-test-form {
    flex-grow: 4;
    padding: 7%;
    background-color: #fff;
    box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

/* Overriding element hover from multiple select */
.optionContainer li:hover,
.optionContainer .highlight {
    background: var(--accent-color);
    color: #fff;
}

.btn-signin {
    background-color: var(--accent-color);
    transition: all 0.2s;
    color: #fff;
    border: #fff !important;
}

.btn-signin:hover,
.btn-signin:visited {
    background-color: var(--accent-color-dark);
}
