.test-results-page {
    width: 100vw;
    height: 100vh;
    background-color: var(--base-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.test-results-contents {
    margin-top: -40%;
    /* width: 70%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
